Repository waaker/BlackStreet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_test, frontend_test

backend_test:
  image: node:alpine
  services:
  - mongo
  stage: test
  before_script:
  - cd backend
  - npm install
  script:
  - npm test

frontend_test:
  image: flat/firefox-stable
  stage: test
  before_script:
  - cd frontend
  - npm install
  script:
  - npm test

tests(backend): add missing tests for account and ftpsServers
  backend/server.js
  backend/src/account/model.test.js
  backend/src/ftps_server/model.test.js
Due: backend_test, frontend_test

docs(backend): update doc
  backend/docs/openapi.yaml
Due: frontend_test

chore(backend): update package.json
  backend/package.json
Due: backend_test, frontend_test

fix(backend): add missing await in isAdminMW
  backend/src/utils/auth.js
Due: backend_test, frontend_test

build(backend): update server.js for coming release
  backend/config/default.json
  backend/server.js
Due: backend_test, frontend_test

chore: update app name
  backend/docs/openapi.yaml
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.html
Due: frontend_test

fix(frontend): change page redirection on reload
  frontend/src/app/app.component.ts
Due: backend_test, frontend_test

build(frontend): npm audit fix
  frontend/package-lock.json
  frontend/package.json
Due: backend_test, frontend_test

ci: remove deleted branches from ci file
  .gitlab-ci.yml
Due: backend_test, frontend_test

build: add root package.json file
  package-lock.json
  package.json
Due: backend_test, frontend_test

build(frontend): fix wrong angular devkit version
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: backend_test, frontend_test

build: add default db setup script
  db/db_setup.sh
  db/dump/blackstreet_db/accounts.bson
  db/dump/blackstreet_db/accounts.metadata.json
  package.json
Due: backend_test, frontend_test

chore: update readme
  README.md
Due: none

build: update dependencies to fix vuln
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: backend_test, frontend_test

build: update dependencies to fix vuln
  frontend/package-lock.json
  frontend/package.json
Due: backend_test, frontend_test

Update README.md
  README.md
Due: none

Path conditions:
  backend_test: not (any of: README.md, backend/docs/*)
  frontend_test: not (any of: README.md, frontend/README.md)
